/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
  padding: 0;
}
header h1 {
  color: #31343d;
  font-size: 60px;
}

.name {
  background-color: #92ccce;
}

header nav {
  text-decoration: underline;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}


a {
  color: #92ccce;
  font-size: 20px;
}

/* main section */

.image {
  position: relative;
  font-family: Arial;
}

.main-picture {
  width: 100%;
  height: 150px;
}


.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #92ccce;
  color: #31343d;
  padding-left: 20px;
  padding-right: 20px;
}

/* aside */
.title h3 {
  
  text-transform: uppercase;
  color: #445877;
  border-right: #445877 solid;
}

/* about me area */

.section {
  display: flex;
}

.information {
  display: flex;
}




.my-picture {
  width: 100px;
  height: 100px;
  padding: 10px;
}
/* work box */


.work-place {
    display: flex;
    display: grid;
    column-gap: 10px;
    row-gap: 10px; 
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, 1fr);
    padding: 5px;
}
.work-box1 {
    border: 2px solid green;
    min-height: 100px;
    display: flex;
    background-color: gray;
    width: 100px;
    height: auto;

}
.img-box {
  position: relative;
  font-family: Arial;
}

.img-box {
  width: 100%;
  height: 150px;
}


.img h4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #92ccce;
  color: #31343d;
  padding-left: 20px;
  padding-right: 20px;
}

.work-box2 {
  border: 2px solid green;
  min-height: 100px;
  display: flex;
  background-color: gray;
  width: 100px;
  height: auto; 
}

.work-box3 {
  border: 2px solid green;
  min-height: 100px;
  display: flex;
  background-color: gray;
  width: 100px;
  height: auto;
}

.work-box4 {
  border: 2px solid green;
  min-height: 100px;
  display: flex;
  background-color: gray;
  width: 100px;
  height: auto;
}

.work-box5 {
  border: 2px solid green;
  min-height: 100px;
  display: flex;
  background-color: gray;
  width: 100px;
  height: auto;
}


